   
#tabContaier{
	background:#fbfbfb;
	border:1px solid #fff;
	width:100%;
    float:left;
}
.titleTab{
	--overflow:hidden;
	height:30px;
	--position:relative;
	z-index:100;
    margin-bottom:0px;
    float:left;
}

.titleTab a{
	background:#ddd;
	border:1px solid #fcfcfc;
	border-right:0;
	color:#666;
	cursor:pointer;
	display:block;
	height:30px;
	line-height:30px;
	padding:0 30px;
	text-decoration:none;
	text-transform:uppercase;
}
#tabContaier .titleTab a:hover{
	background:#eee;
}
#tabContaier .titleTab a.active{
	background:#85ADFF;
	border:1px solid #fff;
	border-right:0;
	color:#333;
}
.tabDetails{
	background:#fbfbfb;
    width:100%;
    float:left;   
}


